extends ./_layout-default.pug

block content
  - var app = data.portfolio.app_data[page.item]
  article
    .sub-header.section-medium.text-center
      .container-readable
        h1.section-title #{page.title}
        if page.description
          p.text-muted #{page.description}
    .container-readable
      .text-center
        img.aligncenter(alt=app.title, src=app.screenshot)
        if app.online
          a.button.button-primary(target="_blank", href=app.online)
            <svg class="icon icon-html5"><use xlink:href="#icon-html5"></use></svg>
            span Play Online
        if app.platforms.length > 0
          h2.h3 Download on
          div
            for platform in app.platforms
              a.button.button-primary(target="_blank", href=platform.download)
                svg.icon(class="icon-" + platform.icon) <use xlink:href="#icon-#{platform.icon}"></use>
                span #{platform.name}
        div.hidden-mobile
          p Scan the following QR code to get #{ app.title } on your device
          p
            div#qrcode(data-url=page.url)
      .section
        .featurelist
          h2.h3.text-center #{app.title} Features
          ul.bare
            for feature in app.features
              li ★ #{ feature }

    if app.reviews1 && app.reviews2  
      .section-medium.highlight
        .container
          .container-content
            h2.h3.text-center.section-title User Reviews ❤ #{ app.title }
            .grid
              .one-half
                for review in app.reviews1
                  blockquote.user-quote
                    p=review.text
                    cite - #{review.user}
              .one-half
                for review in app.reviews2
                  blockquote.user-quote
                    p=review.text
                    cite - #{review.user}
    
    if app.medialinks
      .section-medium
        .container-readable
          h2.h3.text-center.section-title Media Coverage
          for medialink in app.medialinks
              p
                a(href=medialink.url, target="_blank". rel="nofollow")= medialink.title
                cite - #{ medialink.name }

block scripts
  script(src="/scripts/qrcode.min.js")
  script(src="/scripts/apps_page.js")